@using Task1_2.Models
@model UnitOfWork

@{
    ViewBag.Title = "Клиенты";
}

@section Scripts
{
    
}

<h2>Клиенты</h2>

@section Body
{
    <div id="summary" class="panel panel-primary">
        @Html.Partial("Summary", Model)
    </div>
}


